body {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
  cursor: url('../img/cursor-pointer.png') 10 10, pointer;
}

body,
html,
.container-fluid {
  width: 100%;
  height: 100%;
}

.row-scroll {
  scroll-snap-align: start;
}
.container-fluid {
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container-fluid::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

.container-fluid::-webkit-scrollbar-thumb {
  background-color: #361057;
}

h3 {
  font-weight: 900;
  font-size: 60px;
  color: #361057;
  line-height: 58px;
  margin: 0;
}

h5 {
  font-weight: 500;
  font-size: 30px;
  color: #361057;
}

h6 {
  font-weight: 100;
  font-size: 20px;
}

ul {
  list-style-type: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 48px;
  padding-left:0;
}


.section-skills {
  -webkit-box-shadow: 10px 10px 0px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 0px 5px rgba(0, 0, 0, 0.75);
  max-width:50%;
  height:80%;
  background-color:white;
  border-radius:20px;
  position:relative;
  padding:15px;
}

.division-line {
  position: absolute;
  background-color: #361057;
  width: 1px;
  height: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.path-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-section img, .main-section svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 52;
}
.main-section .blobs {
  overflow: visible;
}
.design-brain-section, .math-brain-section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 2;
  background-repeat:repeat;
  background-size:500px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
}

.glasses-inner {
  transition:.4s;
}

.main-section h2 {
  font-family: 'Dancing Script', cursive;
  font-weight:700;
  color: #470A7D;
  font-size: 150px;
  margin-bottom: -50px;
}

.main-section h3 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #470A7D;
  font-size: 70px;
  padding-left: 5%;
}

.main-section .blobs {
  position:absolute;
  z-index:10;
}


.design-brain, .math-brain {
  pointer-events: visiblePainted;
}
.blobs path {
  transition:.3s;
}
.blobs path:hover {
  stroke-width:10px;
  stroke:#470A7D;

}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.main-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.main-section .title {
  transition:.5s;
}
.main-section .title:hover {
  transform:translateY(5px);
}

.backend-logo, .design-logo {
  height:150px;
  width: 150px;
  padding-top:10%;
  padding-bottom:5%;
  transition: transform .3s ease-in;
  cursor: url('../img/cursor-pointer.png') 10 10, pointer;
}

.backend-logo:hover, .design-logo:hover {
  transform:scale(.95);
}

.carousel {
  background-color:white;
}

.background-title {
  position: absolute;
  margin: auto;
  height: 30%;
  overflow: hidden;
  z-index: 1;
}

.background-title div {
  font-size: 60px;
  line-height: 65px;
  color: white;
  opacity: .23;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -30px;
  font-weight: 900;
}

.section-projects {
  z-index: 10;
  height:70%;
  margin:0;
  padding:0;
}

.carousel {
  border: 15px solid white;
  border-radius: 30px;
  overflow: hidden;
}

.carousel-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel .carousel-item img, .carousel .carousel-item video {
  max-height: 100%;
  object-fit: contain;
}

.filter {
  position: absolute;
  background-color: #533370;
  width: 80px;
  height: 80px;
  right: 0;
  top: 10%;
  z-index: 20;
  transition: .4s;
}

.filter img {
  max-height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.filter-extended {
  position: absolute;
  width: 250px;
  height: 125px;
  right: 0;
  top: 10%;
  z-index: 20;
  transition: .4s;
  text-align: center;
  display: none;
}

.filter-extended .top, .filter-extended .bottom {
  width: 100%;
  height: 50%;
  font-size: 30px;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  opacity: .6;
  transition: .3s;
}

.filter-extended .top:hover, .filter-extended .bottom:hover {
  opacity: 1;
}

.filter-extended .top {
  background-color: #533370;
}

.filter-extended .bottom {
  background-color: #644580;
}
.row-skills {
  height:100vh;
  width:100vw;
  background-color:#361057;
  position:relative;
}
.carousel-caption {
  bottom:0;
  background-color: rgba(54, 16, 87, .8);
  -webkit-border-top-left-radius: 40px;
-webkit-border-top-right-radius: 40px;
-moz-border-radius-topleft: 40px;
-moz-border-radius-topright: 40px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}


@media screen and (max-width: 992px) {
  .main-section img, .main-section svg {
    width: 100%;
    height:auto;
    bottom:0;
  }

  .main-section {
    padding-top: 20%;
    align-items: center;
  }

  .division-line {
    display:none;
  }
  .row-skills {
    height:auto;
  }
  .section-skills {
    margin-top:50px;
    margin-bottom:50px;
    height:auto;
  }

  .design-logo, .backend-logo {
    display:none;
  }
  .row-skills .section-left, .row-skills .section-right {
    padding-top:50px;
  }

  .section-projects {
    height:auto;
    margin-right:10px;
    margin-left:10px;
  }
  .section-skills .section-right, .section-skills .section-left {
    scroll-snap-align: center;
  }



}

@media screen and (max-width: 425px) {
  .main-section .title {
    transform:scale(.7);
  }
  .section-skills {
    max-width:90%;
    margin-right:20px;
    margin-left:20px;
  }
}


@media screen and (max-height: 750px) {
  .row-skills .section-left, .row-skills .section-right {
    padding-top:0;
  }
  .row-skills .section-skills {
    overflow-y: scroll;
  }
}
